name: First Workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Building docker
        uses: actions/checkout@v4

      - name: Building Docker image
        run: docker build -t my_nginx:v1